 pandas
 selenium
 webdriver_manager>=4.0.0
 Pillow
 openai==0.28
 pytesseract
 python-dotenv
 anthropic
 requests
requests
beautifulsoup4
tavily-python
transformers==4.21.0
timm==0.6.7
torchvision==0.13.1